body {
  background: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  background-color: #bcbcbc;
  font-size: 18px;
}

#chat-section {
  max-width: 665px;
  margin: auto;
  background: white;
  position: relative;
}

nav {
  background: #fcfcfc;
  height: 68px;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 665px;
}

#navbar {
  background: pink;
  height: 100%;
  width: 200px;
  position: absolute;
}

nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  height: 54px;
  width: 54px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

#menu {
  background-color: #f4eb22;
  background-image: url("./img/Menu-lines.svg");
  margin-left: 19px;
}

#exit {
  margin-right: 19px;
  background-image: url("./img/cross.svg");
}

/* Speech bubble styles */

#chat-window {
  margin: 68px 0;
  min-height: calc(100vh - 68px - 68px);
}

#chat-ul {
  display: flex;
  flex-flow: column nowrap;
}

.hidden-nav {
  display: none;
}

.bubble-wrapper-bot {
  margin: 10px 19px;
  align-self: flex-start;
}

.bubble-wrapper-user {
  margin: 10px 19px;
  align-self: flex-end;
}

.speechBox {
  max-width: 220px;
  border-radius: 17px;
  padding: 15px;
}

.bot-speech-bubble {
  background-color: #0cceff;
  color: white;
  font-weight: 900;
}
.user-speech-bubble {
  background-color: #d5d2d2;
}

.name {
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  color: gray;
  padding: 10px 15px;
}

.bubble-wrapper-user .name {
  text-align: right;
}

.bubble-wrapper-bot .name {
  color: #0cceff;
}

/* modal style */

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #aaaaaa;
  opacity: 0.7;
  display: none;
}

.show {
  display: block;
}

.overlay-container {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  background: #0cceff;
  padding: 15px;
  width: 177px;
  border-radius: 17px;
  /* font-size: 24px; */
}

.button-div {
  display: flex;
  justify-content: space-between;
  margin: 14px;
  width: 112px;
}

.modal-button {
  border-radius: 50%;
  width: 49px;
  height: 49px;
  background: #616161;
  border: none;
}

/* #check, #cross {
  width: 54px;
  height: 54px;
} */

/* Form (typing area) styles */

form {
  background: #fcfcfc;
  position: fixed;
  bottom: 0;
  height: 68px;
  width: 100%;
  display: flex;
  flex-flow: row, nowrap;
  align-items: center;
  justify-content: space-around;
  max-width: 665px;
}

#user-input {
  width: 70%;
  background: #dfdfdf;
  border-radius: 5px;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  padding: 10px;
}

#send-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

@media (min-width: 665px) {
  .speechBox {
    max-width: 450px;
  }
}
