* {
  box-sizing: border-box;
}

body {
  background: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  background-color: #ecf0f1;
  font-size: 18px;
  color: black;
}

.main-section {
  max-width: 665px;
  background: white;
  position: relative;
  margin: 68px auto 0;
  min-height: calc(100vh - 68px - 68px);
}

#chat-window {
  margin-bottom: 68px;
  padding-top: 19px;
}

/* ----------- Nav Bar and Pop out menu ----------- */

/*  Menu Button and Cross Container */

nav {
  background: #fcfcfc;
  height: 68px;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 665px;
  z-index: 2;
}

nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button {
  height: 54px;
  width: 54px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

#menu-btn {
  background-color: #f4eb22;
  background-image: url("./img/Menu-lines.svg");
  margin-left: 19px;
}

#exit-btn {
  margin-right: 19px;
  background-image: url("./img/cross.svg");
}

/* Pop out menu */

.show-menu {
  transform: translate(300px);
}

#pop-out-menu {
  z-index: 3;
  background: #0cceff;
  height: calc(100vh - 68px);
  width: 300px;
  position: fixed;
  top: 68px;
  display: flex;
  flex-flow: column nowrap;
  left: -300px;
  transition: transform 0.5s ease;
  text-align: center;
}

#pop-out-menu a {
  padding: 20px 30px;
  font-size: 1.3rem;
  text-decoration: none;
  color: white;
}

#pop-out-menu a:hover {
  background: navy;
}

/* ----------- Chat interface styles ----------- */

/* Speech bubble styles */

#chat-ul {
  display: flex;
  flex-flow: column nowrap;
}

.bubble-wrapper-bot {
  margin: 0 19px;
  align-self: flex-start;
}

.bubble-wrapper-user {
  margin: 0 19px;
  align-self: flex-end;
}

.speechBox {
  max-width: 220px;
  border-radius: 17px;
  padding: 15px;
}

.bot-speech-bubble {
  background-color: #0cceff;
  color: white;
  font-weight: 900;
}
.user-speech-bubble {
  background-color: #d5d2d2;
}

.name {
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
  color: gray;
  padding: 10px 15px;
  margin: 0;
}

.bubble-wrapper-user .name {
  text-align: right;
}

.bubble-wrapper-bot .name {
  color: #0cceff;
}

/* ----------- Exit Modal Styles ----------- */

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #aaaaaa;
  opacity: 0.7;
  display: none;
}

.show {
  display: block;
}

.overlay-container {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question {
  background: #0cceff;
  padding: 15px;
  width: 177px;
  border-radius: 17px;
}

.button-div {
  display: flex;
  justify-content: space-between;
  margin: 14px;
  width: 112px;
}

.modal-button {
  border-radius: 50%;
  width: 49px;
  height: 49px;
  background: #616161;
  border: none;
}

/* #check, #cross {
  width: 54px;
  height: 54px;
} */

/* Form (typing area) styles */

form {
  background: #fcfcfc;
  position: fixed;
  bottom: 0;
  height: 68px;
  width: 100%;
  display: flex;
  flex-flow: row, nowrap;
  align-items: center;
  justify-content: space-around;
  max-width: 665px;
}

#user-input {
  width: 70%;
  background: #dfdfdf;
  border-radius: 5px;
  border: none;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  padding: 10px;
}

#send-button {
  background-color: #dfdfdf;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

/* ----------- Other page stylings ----------- */

/* Resources and About */

h1 {
  font-size: 2rem;
  margin: 15px 0;
}

h2 {
  margin: 15px 0;
  font-size: 1.3rem;
}

.information-container p {
  margin: 20px 0;
}

.information-container {
  padding: 20px;
  min-height: calc(100vh - 68px);
}

.resources-group {
  display: flex;
  flex-flow: column nowrap;
  padding-left: 20px;
}

.text-link {
  text-decoration: none;
  color: navy;
}

.text-link:hover,
.text-link:focus {
  color: magenta;
}

/* Home Screen */

.home-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  min-height: calc(100vh - 68px);
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container .name {
  padding: 5px 0px;
}

.title-container,
.tagline-container,
.instruction-container {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.title {
  font-size: 3.5rem;
  font-weight: 900;
  text-shadow: -5px -5px #f4eb22;
  z-index: 1;
}

.img {
  background-color: lightgrey;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}

.tagline-container {
  margin-top: 80px;
  align-items: center;
  /* display: flex;
  justify-content: center; */
}

.tagline,
.instruction {
  font-size: 1.5rem;
  margin: 4px 20;
}

.prompt {
  margin: 2px 0 4px 0;
  font-size: 1.1rem;
  text-transform: uppercase;
}

.tagline {
  min-width: 250px;
  margin: 10px 50px;
  text-align: center;
  font-weight: 900;
}

.instruction-container {
  margin: 5px 0;
}

.instruction {
  min-width: 200px;
  font-size: 1rem;
  margin: 4px 80px;
  font-weight: 400;
  list-style-type: disc;
}

#chat-btn,
#go-home-btn {
  padding: 10px 20px;
  border: none;
  background: #f4eb22;
  color: black;
  text-align: center;
  text-transform: uppercase;
  /* font-family: "Lato", sans-serif; */
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  /* font-size: 1.2rem; */
  border-radius: 25px;
  min-width: 140px;
  margin: 8px 0;
}

#chat-btn:hover,
#go-home-btn:hover {
  background: #0cceff;
}

/* ----------- Set if free ------------ */

#gif {
  width: 320px;
  margin: 100px auto;
}

/* ----------- Media Queries ------------ */

@media (min-width: 665px) {
  .speechBox {
    max-width: 450px;
  }
  nav {
    left: calc(50% - 665px / 2);
  }
  #pop-out-menu {
    left: calc(((100vw - 665px) / 2) - 300px);
  }
  #menu-cover {
    position: fixed;
    left: 0;
    height: 100vh;
    width: calc((100vw - 665px) / 2);
    background: #ecf0f1;
    padding: 10px;
    z-index: 10;
  }
}
