<div class="information-container">

  <h1>About</h1>
  <p>This app has been developed based on the principles of cognitive behavioural therapy (CBT), a talking therapy that can
    help you manage your problems by changing the way you think and behave.</p>

  <p>CBT aims to help you deal with problems in a more positive way by breaking them down into smaller parts and challenging
    negative thought patterns. We think that similar techniques and reflective journalling can benefit everyone, so we developed
    this listening chat bot to enourage reflective, positive thinking.</p>

  <p>By recounting stresses with a friendly guide we hope you're able to reflect on your behaviour and learn how to cope
    with similar situations in the future.</p>

  <p>This app is not CBT therapy and is absolutely not a substitute for professional help. You can find professional help
    through the NHS. For more information on this, visit our <a href="/resources" class="text-link text-link-resources">resources</a> page</p>

</div>