<h1>About</h1>
<p>This app has been developed based on the principles of cognitive behavioural therapy (CBT), a talking therapy that can help you manage your problems by changing the way you think and behave. </p>
<p>CBT aims to help you deal with overwhelming problems in a more positive way by breaking them down into smaller parts. The bot prompts you to challenge these negative patterns to improve the way you feel. It looks for practical ways to improve your state of mind on a daily basis.</p>
<p>By recounting stressful events with a friendly guide you might be able to reflect on your behaviour and learn how to cope with similar situations in the future.  Reflective journalling is a common tool for personal growth. </p>