<div class="animation-content">
  <div>
    <div class="floaty-bubble"></div>
    <div class="floaty-bubble"></div>
    <div class="floaty-bubble"></div>
    <div class="floaty-bubble"></div>
  </div>

  <a href="/"><button id="go-home-btn">Back to home</button></a>

</div>