

<section id="chat-section">
  {{>nav}}

  <div>
    <div id="chat-window">

      <ul id="chat-ul">
        {{!-- <li class="bubble-wrapper-bot">
          <p class="bot-speech-bubble speechBox">What's up?</p>
          <p class="name">BOT</p>
        </li>

        <li class="bubble-wrapper-user">
          <p class="user-speech-bubble speechBox">I'm mad as hell</p>
          <p class="name">USER</p>
        </li>

        <li class="bubble-wrapper-bot">
          <p class="bot-speech-bubble speechBox">Sucks to be youu! hehe</p>
          <p class="name">BOT</p>
        </li>

        <li class="bubble-wrapper-user">
          <p class="user-speech-bubble speechBox">*cry*</p>
          <p class="name">USER</p>
        </li>

        <li class="bubble-wrapper-bot">
          <p class="bot-speech-bubble speechBox">Tell me your problems</p>
          <p class="name">BOT</p>
        </li> --}}
      </ul>

    </div>
    {{!-- end of div 'chat-window' --}}
    <form method="post" action="/send-message" autocomplete="off">
      <label for="user-input" aria-label="message"></label>
      <input id="user-input" name="user-message" placeholder="Type your message" required>
      <button id="send-button" type="submit" aria-label="send message"></button>
    </form>
  </div>

</section>

  <div class="overlay">
    <div class="overlay-container">
      <p class="question">Would you like to set this thought free?</p>
      <div class='button-div'>
      <button class='modal-button' id="modal-yes">
        <svg id='check' width="29" height="29" viewBox="0 0 29 29" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M28.2634 11.1213L26.1421 9L10.6213 24.5208L2.12132 16.0208L-1.52588e-05 18.1421L10.6066 28.7487L11.2781 28.0772L11.2928 28.0919L28.2634 11.1213Z" fill="#aaaaaa"/>
        </svg>
      </button>
      <button class='modal-button' id="modal-no">
        <svg id='cross' width="54" height="54" viewBox="0 0 54 54" fill="#aaaaaa" xmlns="http://www.w3.org/2000/svg">
        <rect x="16" y="18.1213" width="3" height="29" transform="rotate(-45 16 18.1213)"/>
        <rect x="36.5061" y="16" width="3" height="29" transform="rotate(45 36.5061 16)"/>
        </svg>
      </button>
      </div>
    </div>

  </div>
