<div id="chat-window">
  <ul id="chat-ul"></ul>
</div>

<form method="post" action="/send-message" autocomplete="off">
  <div class="thinking-dots hidden">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>
  <label for="user-input" aria-label="message"></label>
  <input id="user-input" name="user-message" placeholder="Type your message" required>
  <button id="send-button" type="submit" aria-label="send message"></button>
</form>

<div class="overlay">
  <div class="overlay-container">
    <p class="question">Would you like to set this thought free?</p>
    <div class='button-div'>
      <button class='modal-button' id="modal-yes">
        <img src="css/img/Tick.svg" alt="tick" id="check">
      </button>
      <button class='modal-button' id="modal-no">
        <img src="css/img/newcross.svg" alt="cross" id="cross">
      </button>
    </div>
  </div>
</div>
