<section>

  <nav>
    <ul>
      <li id="menu">icon</li>
      <li id="exit">x</li>
      <ul>
  </nav>

  <div>
    <div id="chat-window">

      <ul id="chat-ul">
        <li id="bot-speech-bubble">
          What's up?
          <p class="name">Bot</p>
        </li>

        <li id="user-speech-bubble">
          <p>I'm mad as heeeeeell</p>
          <p class="name">User</p>
        </li>

        <li id="bot-speech-bubble">
          <p>Sux to be you..hehehhehe</p>
          <p class="name">Bot</p>
        </li>

        <li id="user-speech-bubble">
          <p>*cry*</p>
          <p class="name">User</p>
        </li>

        <li id="bot-speech-bubble">
          <p>Tell me about ur problems m8</p>
          <p class="name">Bot</p>
        </li>
      </ul>

      <div>
        <ul id="thinking-bubble">

        </ul>
      </div>

    </div>
    <form method="post" action="/send-message">
      <textarea id="user-input" rows="0" cols="0" name="user-message" placeholder="Type your message"></textarea>
      <button id="send-button" type="submit">send</button>
    </form>
  </div>


</section>