<div id="chat-window">
  <ul id="chat-ul"></ul>
</div>

<form method="post" action="/send-message" autocomplete="off">
  <label for="user-input" aria-label="message"></label>
  <input id="user-input" name="user-message" placeholder="Type your message" required>
  <button id="send-button" type="submit" aria-label="send message"></button>
</form>