<div class="home-container">
  <div class="home-content">
  <!-- <h1 class="name">Hello, User!</h1> -->

  <div class="title-container">
    <h1 class="title">VentBot</h1>
    <div class="img"></div>
    <!-- <img > -->
  </div>

  <div class="tagline-container">
    <p class="prompt">Something on your mind?</p> <p class="prompt">Getting stressed out?</p> <p class="tagline">Chat with VentBot, who will help you set your troubles free.</p>
  </div>

  <ul class="instruction-container">
    <li class="instruction">Open a new chat with [harriet]</li>
    <li class="instruction">Let [her/him/them] guide you through questions to help you reflect</li>
    <li class="instruction">Get new perspectives on your situation, then set the thoughts free</li>
  </ul>
</div>
  <a href="/chat"><button id="chat-btn">Chat</button></a>
</div>
