<div class="home-content">

  <h1 class="title">VentBot</h1>
  <img class="img home-pad" src="css/img/icon.svg" alt="vent bot">

  <div class="tagline-container home-pad">
    <p class="prompt">Something on your mind?</p>
    <p class="prompt">Getting stressed out?</p>
    <p class="tagline">Chat with VentBot and set your troubles free.</p>
  </div>

  <ul class="instruction-container home-pad">
    <li class="instruction">Open a new chat with VentBot</li>
    <li class="instruction">Let her guide you through questions to help you reflect</li>
    <li class="instruction">Get new perspectives on your situation, then set the thoughts free</li>
  </ul>

  <a href="/chat" class="home-pad"><button id="chat-btn">Chat</button></a>

</div>