{{>nav}}
<h1>Resources</h1>

<p>Here are some resources if you think you need other support</p>

<h2>Getting professional help</h2>
<a href="https://www.nhs.uk/conditions/stress-anxiety-depression/free-therapy-or-counselling/">Can I get free therapy or counselling</a>
<a href="https://www.nhs.uk/conditions/suicide/">Help for suicidal thoughts</a>
<a href="https://www.nhs.uk/conditions/stress-anxiety-depression/types-of-therapy/">Talking therapies explained</a>

<h2>How to become more relaxed</h2>
<a href="https://www.nhs.uk/conditions/stress-anxiety-depression/mindfulness/">About mindfulness</a>
<a href="https://www.nhs.uk/conditions/stress-anxiety-depression/moodzone-mental-wellbeing-audio-guides/">Audio guide to boost your mood</a>

<h2>Conflict resolution</h2>
<a href="https://improvement.nhs.uk/resources/managing-conflict/">How to resolve conflict</a>