{{>nav}}
<h1>Resources</h1>

<p>Here are some resources if you think you need other support</p>

<h2>Getting professional help</h2>
<p>Can I get free therapy or counselling</p>
<p>Help for suicidal thoughts</p>
<p>Talking therapies explained</p>

<h2>How to become more relaxed</h2>
<p>About meditation</p>
<p>Relaxing soundscapes</p>

<h2>Conflict resolution</h2>
<p>How to resolve conflict</p>