<div class="information-container">

<h1>Resources</h1>

<p>If you're extremely down or think you may be suffering from a mental illness, you should seek professional help. This
  is available free in the UK and you don't have to go through your GP if you don't want to. For information on finding a therapist and other resources, see the links below.</p>

<article class="resources-group">
  <h2>Getting professional help</h2>
  <a class="text-link" href="https://www.nhs.uk/conditions/stress-anxiety-depression/free-therapy-or-counselling/">Getting free therapy or
    counselling
  </a>
  <a class="text-link" href="https://www.nhs.uk/conditions/suicide/">Help for suicidal thoughts</a>
  <a class="text-link" href="https://www.nhs.uk/conditions/stress-anxiety-depression/types-of-therapy/">Talking therapies explained</a>
</article>
<article class="resources-group">
  <h2>How to become more relaxed</h2>
  <a class="text-link" href="https://www.nhs.uk/conditions/stress-anxiety-depression/mindfulness/">About mindfulness</a>
  <a class="text-link" href="https://www.nhs.uk/conditions/stress-anxiety-depression/moodzone-mental-wellbeing-audio-guides/">Audio guide to
    boost your mood</a>
</article>
<article class="resources-group">
  <h2>Conflict resolution</h2>
  <a class="text-link" href="https://improvement.nhs.uk/resources/managing-conflict/">How to resolve conflict</a>
</article>

</div>