<head>
  <meta charset="UTF-8">
  <meta name="description" content="Vet bot is ready for a confidential chat">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vent bot is here for you</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Roboto:700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>
