
<span id="nav-icon" style="font-size:30px;cursor:pointer">&#9776;</span>

<nav id="navbar" class="hidden-nav">
  {{!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> --}}
  <a href="/">Home</a>
  <a href="/resources">Resources</a>
  <a href="/about">About</a>
</nav>
