<div id="menu-cover"></div>

<div id="pop-out-menu">
  <a href="/">Home</a>
  <a href="/chat">Chat</a>
  <a href="/resources">Resources</a>
  <a href="/about">About</a>
</div>

<nav>
  <ul>
    <li id="menu-btn" class="nav-button nav-icon" aria-label="menu">
      <svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect class="menu-line" y="20.6207" width="23" height="2.37931" fill="black" />
        <rect class="menu-line" y="10.3103" width="23" height="2.37931" fill="black" />
        <rect class="menu-line" width="23" height="2.37931" fill="black" />
      </svg>
    </li>
  </ul>
</nav>