{{!-- 
<span id="nav-icon" style="font-size:30px;cursor:pointer">&#9776;</span> --}}

<div id="navbar" class="hidden-nav">
  {{!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> --}}
  <a href="/">Home</a>
  <a href="/resources">Resources</a>
  <a href="/about">About</a>
</div>

<nav>
    <ul>
      <li id="menu" class="menu-button nav-icon" aria-label="menu"></li>
      <li id="exit" class="menu-button" aria-label="exit"></li>
    </ul>
  </nav>

