<div id="pop-out-menu" class="hidden-menu">
  <a href="/">Home</a>
  <a href="/resources">Resources</a>
  <a href="/about">About</a>
</div>

<nav>
  <ul>
    <li id="menu-btn" class="nav-button nav-icon" aria-label="menu"></li>
    <li id="exit-btn" class="nav-button" aria-label="exit"></li>
  </ul>
</nav>