<!DOCTYPE html>
<html lang="en">
  {{>head}}

    <body>
        {{#if nav}}
            {{>chatnav}}
        {{else}}
            {{>nav}}
        {{/if}}    
        <section class="main-section">
            {{{body}}}
        </section>
    </body>
    <script src="js/dom.js"></script>
</html>
